* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Hubot Sans", sans-serif;
}
      
html, body {
    height: 100%;
    width: 100%; 
    
}
body{
    padding-top: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    background: linear-gradient(221deg, rgb(0, 151, 124), rgba(0, 0, 0, 1));
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#box{
    position: relative; /* Needed for absolute positioning of children */
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .1);
            background: hsla(0, 0%, 100%, 0.60);
            backdrop-filter: blur(20px);
            border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    padding: 23px;
    margin: 5px; /* Add external spacing */
    width: 300px; /* Set a fixed width for the card */
}
#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%; /* Take full width of the card */
    margin-bottom: 1rem; /* Space between header and content */
}

img{
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    aspect-ratio: 1/1;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 15px;
}


#mid{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-direction: row;
    width: 100%; /* Take full width of the card */
    margin-bottom: 1rem; /* Space between header and content */
    gap: 10px;
}

#company-name{
    font-size: 1.2rem;
    font-weight: 600;
}

#days-ago{
    margin-top: 3px;
    opacity: 50%;
    font-size: 0.7rem;
    font-weight: 500;
}

#job-title{
    font-weight: 500;
    font-size: 2.2rem;
    margin-bottom: 1.3rem;
}

#skills{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    gap: 10px;
    margin-bottom: 2rem;
}

#skill-1, #skill-2{
    border-color:hsla(0, 0%, 0%, 0.50);
    color: #000000;
    background-color: hsla(0, 0%, 0%, 0.30);
    padding: 0.35rem 0.6rem;
    border-radius: 0.18rem;
    font-weight: 600;
    font-size: 10px;
}

#rest{
    display: flex;
    justify-content: space-between;
    position: relative;
    flex-direction: row;
}

#hour{
    font-weight: 600;
    font-size: 1rem;
}

#city{
    font-weight: 500;
    font-size: 0.8rem;
}

#line{
    background-color: #000000;
}